<div class="span<%= LocationsHelper::LOCATION_WIDTH %> well location <%= location.open? ? 'open' : 'closed' %>">
  <div class="name">
    <% if location.explanation %>
      <abbr title="<%= location.explanation %>"><%= location.name %></abbr>
    <% else %>
      <%= location.name %>
    <% end %>
  </div>
  <div class="info">
    <p>
      <strong>weekdays</strong>:
      <span class="<%= location.open_weekdays? ? 'text-success' : 'text-error' %>"><%= weekday_hours_for location %></span>
    </p>
    <p>
      <strong>weekends</strong>:
      <span class="<%= location.open_weekends? ? 'text-success' : 'text-error' %>"><%= weekend_hours_for location %></span>
    </p>
  </div>
</div>
