<div class="container">

  <!-- locations -->
  <% if @locations.length > 0 %>
    <% @locations.each_slice(3) do |row_of_locations| %>
      <div class="row-fluid">
        <% row_of_locations.each do |location| %>
          <div class="span4 well location <%= location.open? ? "open" : "closed" %>">
            <div class="name"><%= location.name %></div>
            <p>
              weekday hours:
              <% if location.weekday_start and location.weekday_end %>
                <%= location.weekday_start %> to <%= location.weekday_end %>
              <% else %>
                closed
              <% end %>
            </p>
            <p>
              weekend hours:
              <% if location.weekend_start and location.weekend_end %>
                <%= location.weekend_start %> to <%= location.weekend_end %>
              <% else %>
                closed
              <% end %>
            </p>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <h3>No locations found....</h3>
    <h3>This is probably a bug, please <a href="https://github.com/thenickperson/open-at-rit/issues/new" target="_blank">report an issue</a>.</h3>
  <% end %>

</div>
