<h1>Listing locations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Weekday start</th>
    <th>Weekday end</th>
    <th>Weekend start</th>
    <th>Weekend end</th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= location.name %></td>
    <td><%= location.weekday_start %></td>
    <td><%= location.weekday_end %></td>
    <td><%= location.weekend_start %></td>
    <td><%= location.weekend_end %></td>
  </tr>
<% end %>
</table>
