<div class="container">

  <!-- locations -->
  <% if @locations.length > 0 %>
    <% @locations.each_slice(3) do |row_of_locations| %>
      <div class="row-fluid">
        <% row_of_locations.each do |location| %>
          <div class="span4 well location <%= location.open? ? "open" : "closed" %>">
            <div class="name"><%= location.name %></div>
            <p>
              <strong>weekdays</strong>:
              <span class="<%= location.open_weekdays? ? 'text-success' : 'text-error' %>"><%= location.weekday_hours %></span>
            </p>
            <p>
              <strong>weekends</strong>:
              <span class="<%= location.open_weekends? ? 'text-success' : 'text-error' %>"><%= location.weekend_hours %></span>
            </p>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <h3>No locations found....</h3>
    <h3>This is probably a bug, please <a href="https://github.com/thenickperson/open-at-rit/issues/new" target="_blank">report an issue</a>.</h3>
  <% end %>

</div>
