<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <!-- basic info -->
  <title>Open at RIT</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- css -->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="/components/bootstrap/css/bootstrap-responsive.min.css">
  <!-- js -->
  <%= javascript_include_tag "application" %>
  <script src="/components/bootstrap/js/bootstrap.min.js"></script>
  <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <%= csrf_meta_tags %>
</head>

<body>

<!-- navbar -->
<nav class="navbar navbar-fixed-top"><div class="navbar-inner"><div class="container">
  <a class="brand" href="/">Open at <span class="brand-rit">RIT</span></a>
  <ul class="nav">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Official Hours<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="http://www.rit.edu/fa/diningservices/content/hours-operation" target="_blank">Normal</a></li>
        <li class="divider"></li>
        <li><a href="http://www.rit.edu/fa/diningservices/node/272" target="_blank">Commencement (May 17 - May 18)</a></li>
        <li><a href="http://www.rit.edu/fa/diningservices/node/273" target="_blank">Spring/Summer Break (May 19 - May 27)</a></li>
        <li><a href="http://www.rit.edu/fa/diningservices/node/274" target="_blank">Summer (May 28 - Aug 11)</a></li>
        <li><a href="http://www.rit.edu/fa/diningservices/node/275" target="_blank">Summer/Fall Break (Aug 12 - Aug 18)</a></li>
      </ul>
    </li>
    <li><a href="#">About</a></li>
    <li><a href="#">Report an Issue</a></li>
  </ul>
</div></div></nav>

<%= yield %>

<!-- footer -->
<footer>
  &copy; 2013 <a href="http://thenickperson.com" target="_blank">Nicolas McCurdy</a><br>
  Not affiliated with <a href="http://www.rit.edu" target="_blank">RIT</a>.
</footer>

</body>
</html>
