!!!
%html{:lang => "en"}
  %head
    / basic info
    %title Open at RIT Alpha
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / css
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    / js
    = javascript_include_tag "application", "data-turbolinks-track" => true
    / misc
    /[if lt IE 9] <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    = csrf_meta_tags

  %body

    / navbar
    %nav.navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href => "/"}
            Open at
            %span.brand-rit RIT
            %span.muted Alpha
          %ul.nav
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Official Hours
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "http://www.rit.edu/fa/diningservices/content/hours-operation", :target => "_blank"} Normal
                %li.divider
                %li
                  %a{:href => "http://www.rit.edu/fa/diningservices/node/274", :target => "_blank"} Summer (May 28 - Aug 11)
                %li
                  %a{:href => "http://www.rit.edu/fa/diningservices/node/275", :target => "_blank"} Summer/Fall Break (Aug 12 - Aug 18)
            %li
              %a{:href => "https://github.com/thenickperson/open-at-rit#readme", :target => "_blank"} About
            %li
              %a{:href => "https://github.com/thenickperson/open-at-rit/issues/new", :target => "_blank"} Report an Issue

    / page content
    = yield

    / footer
    %footer
      \&copy; 2013
      %a{:href => "http://thenickperson.com", :target => "_blank"} Nicolas McCurdy
      %br/
      Not affiliated with
      = succeed "." do
        %a{:href => "http://www.rit.edu", :target => "_blank"} RIT
